<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/accountstyles.css"/>
</head>
<body>


<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome <%= current_user.name.capitalize %></h1>
    
  </div>
</div>

    <h3>Car Collection</h3>
    
        <ul>
            <% @user_car.each do |car| %>
                <li><a href="/cars/<%=car.id%>"><%=car.year%> <%=car.make%> <%=car.model%></a></li>
            <% end %>   
        </ul>
    
    
    <form method="GET" action="/cars/new" >
    <input type="submit" value="Add a Car">
    </form><br>
    


</body>
</html>
