<h1>Account</h1>

<% if logged_in? %>

    <h2>Welcome back <%= current_user.username %></h2>

    
    <a href="/cars/<%=@user_car.id%>"><%=@user_car.year%> <%=@user_car.make%> <%=@user_car.model%></a></li>
            
 
    
<% end %>


<p><a href='/cars/new'>Add a Car</a></p>

<p><a href='/account/edit'>Edit Account</a></p>

<p><a href='/logout'>Logout</a></p>