<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/accountstyles.css"/>
</head>
<body>





<% if logged_in? %>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome back <%= current_user.name %></h1>
    
  </div>
</div>

    <h3>Car Collection</h3>
    
    <% if @user_car == [] || @user_car == nil %>
        <p>You dont currently have any cars added. Please add a car below</p>
    <% else %>
        <ul>
            <% @user_car.each do |car| %>
                <li><a href="/cars/<%=car.id%>"><%=car.year%> <%=car.make%> <%=car.model%></a></li>
            <% end %>   
        </ul>
    <% end %>
    
    <form method="GET" action="/cars/new" >
    <input type="submit" value="Add a Car">
    </form><br>

    <form method="GET" action="/users/account/edit" >
    <input type="submit" value="Edit Account">
    </form><br>
    
<% end %>

</body>
</html>
