
<h1><%=@car.make%> <%=@car.model%></h1>

<p>Owner: <%=@car.user.name.capitalize %>
<p><%=@car.year%> <%= @car.make %> <%= @car.model %></p>
<ul>
    <li><%= @car.name %></p>
    <li><%= @car.color %></p>
    <li><%= @car.body_style %></p>
    <li><%= @car.transmission %></p>
</ul>

<% if logged_in? == current_user %>

    <form method="GET" action="/cars/<%=@car.id%>/edit" >
    <input type="submit" value="Edit Car">
    </form><br>

    <form method="POST" action="/cars/<%=@car.id%>" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Car">
    </form>
<% end %>
