
<h1><%=@car.make%> <%=@car.model%></h1>

<h3>Owner: <%=@car.user.name.capitalize %></h3>

<h3><%=@car.year%> <%= @car.make %> <%= @car.model %></h3>
<ul>
    <li>Car Name: <%= @car.name %></p>
    <li>Color: <%= @car.color %></p>
    <li>Body Style: <%= @car.body_style %></p>
    <li>Transmission: <%= @car.transmission %></p>
</ul>


<% if logged_in? && current_user.id == @car.user_id %>

    <div>
    <form method="GET" action="/cars/<%=@car.id%>/edit">
    <input type="submit" value="Edit Car">
    </form><br>

    <form method="POST" action="/cars/<%=@car.id%>" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Car">
    </form>
    </div>
<% end %>
